.important {
  font-size: 32px;
  color: #7F0C1F  ;
  font-family: sans-serif;
  font-weight: bold;
}

.regions {
  font-size: 20px;
  color: #0C097D;
  font-family: sans-serif;
  font-weight: bold;
}

.families {
  font-size: 16px;
  color: #D09E20;
  font-family: sans-serif;
  font-weight: bold;
}

.pp {
  font-size: 14px;
  color: #4C4C55;
  font-family: sans-serif;
}

.email {
  font-size: 14px;
  color: #blue;
  font-family: sans-serif;
}
